@using ServiceHub.Common.Enum; 
@model ServiceHub.Data.Models.Service

@{
    ViewData["Title"] = "Service Details";
    bool canUseService = ViewBag.CanUseService ?? false;
}

<h1>Service Details</h1>

@if (TempData["ServiceMessage"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["ServiceMessage"]
    </div>
}

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Title
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-3">
            Description
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            Is Business Only
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsBusinessOnly)
        </dd>
        <dt class="col-sm-3">
            Access Type
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AccessType)
        </dd>
        <dt class="col-sm-3">
            Category
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-3">
            Date Created
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-3">
            Last Modified
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>

    <h5>Reviews (@Model.Reviews.Count)</h5>
    @if (Model.Reviews != null && Model.Reviews.Any())
    {
        <ul class="list-group mb-3">
            @foreach (var review in Model.Reviews)
            {
                <li class="list-group-item">
                    Rating: @review.Rating / 5 <br />
                    Comment: @review.Comment <br />
                    Reviewed by: @(review.User?.UserName ?? "N/A")
                </li>
            }
        </ul>
    }
    else
    {
        <p>No reviews yet.</p>
    }

    <h5>Favorites (@Model.Favorites.Count)</h5>
    @if (Model.Favorites != null && Model.Favorites.Any())
    {
        <ul class="list-group mb-3">
            @foreach (var favorite in Model.Favorites)
            {
                <li class="list-group-item">
                    Favorited by: @(favorite.User?.UserName ?? "N/A")
                </li>
            }
        </ul>
    }
    else
    {
        <p>No favorites yet.</p>
    }
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        @if (canUseService)
        {
            <a asp-action="UseService" asp-route-id="@Model.Id" class="btn btn-success me-2">Use Service</a>
        }
        else
        {
            <button type="button" class="btn btn-warning me-2" disabled>Upgrade to Use</button>
            <a asp-controller="Subscription" asp-action="Upgrade" class="btn btn-info">Upgrade Plan</a>
        }
    }
    else
    {
        <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-primary me-2">Register to Use</a>
        <a asp-page="/Account/Login" asp-area="Identity" class="btn btn-secondary">Login</a>
    }
    <a asp-action="All" class="btn btn-secondary ms-2">Back to List</a>
</div>